body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

/* utils buttons */
.blue-button {
    background-color: #0061FF;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.blue-button-large a {
    background-color: #0061FF;
    color: white;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 8px;
    text-decoration: none;
}

.button-large-nobg {
    background-color: transparent;
    color: rgb(0, 0, 0);
    width: 220px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}



nav {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}



.jumbotron {
    background-color: #B4D0E7;
    height: 700px;
    display: flex;
    justify-content: center;

}

.jumbo-container {
    width: 70%;
    /* background-color: aquamarine; */
    /* height: 100%; */
    position: relative;


}

.col-text-jumbo {
    width: 25%;
}

h1 {
    font-size: 80px;
}

#jumbotron-img {
    width: 60%;
    position: absolute;
    right: 0;
    bottom: -80px;


}

.fa-solid fa-arrow-down {
    height: 50px;
}




main {
    height: 1000vh;
    /* background-color: lightgoldenrodyellow; */
    /* width: 70%; */
    margin: 200px auto
}

.width-70 {
    width: 70%;
    margin: auto;
}

/* sezione business plan */

h2 {
    font-size: 40px;
    color: black;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    color: black;
}

.border-plan-card {
    border: solid 2px #dedede;
}

.payment-method {
    display: flex;
    justify-content: flex-start;
}

.business-plan {

    /* background-color: rgb(146, 218, 218); */
    /* height: 100vh; */
    margin: 0 auto;
    width: 90%;


}

.col-container {
    display: flex;
    /* width: 100%; */
    height: 100%;
    justify-content: space-between;
    /* background-color: lightcoral; */
}

.col-professional,
.col-advance,
.col-enterprise {
    width: calc(100% / 3 - 50px);
    min-height: 100%;
    /* background-color: lightcoral; */
    border: 1px solid #dedede;

}



hr {
    width: 60px;
    border-top: 0px solid #bbb;
    position: relative;
    right: 0px;
    margin: 50px 50px;
}

/* bordi delle schede il primo è di tutte le schede mentre il
secondo è oslo per il bordo in basso dell utente */
.card-border {
    border: 1px solid lightgrey;
}

.b-bottom {
    border-bottom: 1px solid lightgrey;
}

.user-type {
    text-align: center;
    padding: 10px;
}

ul {
    list-style: none;
}


/* font delle card */
.bold-card-title {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
}


/* margini delle card */
.account-benefits {
    margin-top: 50px;
    /* margin-left: 20px; */
}

.account-benefits-margin li {
    margin: 20px 20px;
}

.try-button,
.buy-now {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.try-buy-button {
    margin-top: 80px;
}

ul {
    padding: 0;
    margin: 0;
}

.account-type {
    margin-left: 20px;
}

.fa-check {
    color: #0061FF;
}

/* colonna 4 larga enterpise */
.row-enterprise {
    width: 100%;
    height: 300px;
    ;
    /* background-color: beige; */
    margin-top: 50px;
    ;

}

.col-enterprise-80w {
    width: 80%;
}

.col-enterprise-20w {
    width: 20%;
}

.col-cont-ent {
    display: flex;
    align-items: center;
}

/* sezione partner foto con testo */

.partner-section {
    width: 90%;
    /* height: 700px; */
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    margin: 70px auto;
}

#partner {
    width: 80%;
}

.partner-button {
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
    width: 200px;
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* partner sezione  fine*/



/* sezione business */

.drop-business {
    width: 90%;
    /* background-color: #0061FF; */
    /* height: 1200px; */
    margin: auto;

}

.business-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.business-card {
    width: calc(100% / 3 - 50px);

}

.business-card-img {
    width: 100%;
}

/* fine business */



/* sezione card colorate dei clienti inizio */

.client-cards {
    background-color: #0061FF;
    width: 100%;
    height: calc(100vw / 3);
    margin-top: 100px;
    display: flex;
}


/* colori quadrati colorati */

/* #A2D39B designit #61082B arizona #0093CE florida #FF1C1C topps #D5001F bicicle relief #0D2481 lonely planet #FFD830 clear channel */


.four-cards-square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: cadetblue;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;


}

.four-cards-square-little {
    width: 50%;
    height: 50%;
    background-color: thistle;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-card-square {
    width: 50%;
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color:#F5F5F5;
    
}



.four-cards-square-little img {
    width: 50%;
    filter: invert();
}

/* colori quadrati */

#designit {
    background-color: #A2D39B;
}

#arizona {
    background-color: #61082B;
}

#florida {
    background-color: #0093CE;
}

#topps {
    background-color: #FF1C1C;
}

#relief {
    background-color: #D5001F;
}

#hearst {
    background-color: #B4D0E7;
}

#lonely {
    background: #0D2481;
}

#clear {
    background-color: #FF1C1C;
}

.one-card-square{padding: 50px;}

#designit-img{width: 60%;}